{% extends 'base.html' %}

{% block title %}Mon Espace{% endblock %}

{% block content %}
<h2>Bienvenue, {{ user.username }} !</h2>

<p>Voici votre espace personnel :</p>

<ul>
    <li><strong>Nom complet : </strong>{{ user.first_name }} {{ user.last_name }}</li>
    <li><strong>Email : </strong>{{ user.email }}</li>
    <li><strong>Date d'inscription : </strong>{{ user.date_joined|date:"d M Y" }}</li>
</ul>

<h3>Vos emprunts :</h3>
{% if message %}
<p>{{ message }}</p>
{% else %}
<ul>
    {% for borrow in borrows %}
    <li>{{ borrow.media.name }}</li>
    {% endfor %}
</ul>
{% endif %}

<h3>Médias disponibles :</h3>
<p>Nombre de médias disponibles : {{ available_media|length }}</p>
<ul>
    {% for media in available_media %}
    <li>
        {{ media.name }} — {{ media.details }} —
        {% if media.is_borrowed %}
        <strong>Emprunté</strong>
        {% else %}
        <strong>Disponible</strong>
        {% endif %}
    </li>
    {% empty %}
    <li>Aucun média disponible actuellement.</li>
    {% endfor %}
</ul>


{% endblock %}
