{% extends 'base.html' %}

{% block title %}Mon Espace {% endblock %}

{% block content %}
<h2>Bienvenue, {{ user.username }} !</h2>

<p>Voici votre espace personnel :</p>

<ul>
    <li><strong>Nom complet : </strong>{{ user.first_name }} {{ user.last_name }}</li>
    <li><strong>Email : </strong>{{ user.email }}</li>
    <li><strong>Date d'inscription : </strong>{{ user.date_joined|date:"d M Y" }}</li>
</ul>

<h3>Vos emprunts :</h3>
{% if message %}
<p>{{ message }}</p>
{% else %}
<ul>
    {% for borrow in borrows %}
    <li>{{ borrow.media.name }}</li>
    {% endfor %}
</ul>
{% endif %}

<p><a href="{% url 'mediatheque.authentification:modifier_profil' user_id=user.id %}">Modifier mon profil</a>
</p>

{% endblock %}
