{% extends 'base.html' %}

{% block return_link %}
<a href="{% url 'staff:espace_staff' %}">Retour au Dashboard</a>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Ajouter un Média</h2>

    <!-- Affichage des messages de succès ou d'erreur -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="media_type">Choisissez un type de média :</label>
        <select name="media_type" id="media_type">
            <option value="book">Livre</option>
            <option value="dvd">DVD</option>
            <option value="cd">CD</option>
            <option value="board_game">Jeu de société</option>
        </select>

        <!-- Affiche le formulaire approprié en fonction du type de média choisi -->
        {% if form %}
        {{ form.as_p }}
        {% endif %}

        <button type="submit">Ajouter le média</button>
    </form>
</div>
{% endblock %}
