{% extends 'base.html' %}

{% block return_link %}
<a href="{% url 'staff:espace_staff' %}">Retour au Dashboard</a>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Détails de l'emprunt</h2>

    <ul class="list-group">
        {% if media %}
        <li class="list-group-item"><strong>Média :</strong> {{ media.name }}</li>
        <li class="list-group-item"><strong>Type :</strong> {{ media.media_type }}</li>
        <li class="list-group-item"><strong>Emprunté par :</strong> {{ user.get_full_name }}</li>
        <li class="list-group-item"><strong>Date d'emprunt :</strong> {{ borrow_item.borrow_date }}</li>
        <li class="list-group-item"><strong>À rendre avant :</strong> {{ borrow_item.due_date }}</li>
        <li class="list-group-item">
            <strong>Status :</strong>
            {% if is_late %}
            <span class="text-danger">En retard</span>
            {% else %}
            <span class="text-success">Dans les temps</span>
            {% endif %}
        </li>
        {% else %}
        <li class="list-group-item text-muted">Média non empruntable ou non disponible.</li>
        {% endif %}
    </ul>

    <h3>Médias empruntables :</h3>

    {% if borrowable_media %}
    <form action="{% url 'staff:retourner_media' pk=borrow_item.pk %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="media">Sélectionner un ou plusieurs médias à retourner :</label>
            <select name="media" id="media" class="form-control" multiple>
                {% for media_item in borrowable_media %}
                <option value="{{ media_item.pk }}">{{ media_item.name }} - {{ media_item.media_type }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-danger mt-3">Retourner le(s) média(s) sélectionné(s)</button>
    </form>
    {% else %}
    <p class="text-muted">Aucun média empruntable disponible.</p>
    {% endif %}


    <a href="{% url 'staff:media_liste' %}" class="btn btn-primary mt-3">Retour à la liste</a>
</div>
{% endblock %}
